.fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 10;
}

section {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

section > .frota {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section > .frota > .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 50px;
  margin-bottom: 100px;
  line-height: 2.5rem;
}

section > .frota > .desc {
  width: 80vw;
}

section > .frota > .desc h1 {
  text-align: center;
  font-size: 2.5em;
}

section > .frota > .desc p {
  text-align: center;
  margin-bottom: 30px;
}

section > .frota .a319,
.a320,
.a321,
.a330 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section > .frota .aircraft-image > img {
  width: 570px;
}

section > .frota .aircraft-title,
section > .frota .aircraft-title-modal {
  font-size: 2em;
  font-weight: 800;
}

section > .frota .aircraft-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section > .frota .aircraft-description .modal{
  border-radius: 30px;
  background-color: rgb(22, 19, 111);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 900px;
  overflow-y: scroll;
  padding: 32px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section > .frota .aircraft-description .modal > img{
  width: 500px;
}

section > .frota .aircraft-description .modal ul{
  list-style: disc;
}

section > .frota .aircraft-description .modal > .modal-aircraft-desc{
  font-size: 1.2em;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

section > .frota .aircraft-title-modal{
  margin-top: 200px;
}

section > .frota .a330-modal{
  margin-top: 420px;
}

section > .frota .aircraft-description .modal .subtitle{
  font-size: 1.6em;
  font-weight: bold;
}

section > .frota .aircraft-description .modal .back-btn{
  padding: 16px;
  border: none;
  outline: none;
  background-color: rgb(250, 13, 0);
  color: white;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  text-transform: uppercase;
}

section > .frota .aircraft-description .modal .back-btn:hover{
  cursor: pointer;
  background-color: rgb(144, 2, 2);
}

section > .frota .know-more-button {
  width: 80%;
  padding: 10px;
  background-color: black;
  border-radius: 15px;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
}

section > .frota .know-more-button:hover {
  cursor: pointer;
  background-color: rgb(22, 19, 111);
}

@media only screen and (max-width: 1200px){
  section > .frota .aircraft-image > img{
    width: 400px;
  }
}

@media only screen and (max-width: 1100px) {
  section > .frota .know-more-button{
    margin-bottom: 40px;
  }

  section > .frota .aircraft-description .modal{
    width: 800px;
    height: 900px;
  }

  section > .frota .aircraft-description .modal .subtitle{
    font-size: 1.3em;
  }

  section > .frota .aircraft-title-modal{
    margin-top: 350px;
  }

  section > .frota .a330-modal{
    margin-top: 450px;
  }
}

@media only screen and (max-width: 900px){
  section > .frota .aircraft-image > img {
    width: 300px;
  }

  section > .frota .aircraft-description .modal{
    width: 600px;
    font-size: .9em;
  }

  section > .frota .aircraft-description .modal .subtitle{
    font-size: 1.1em;
  }

}

@media only screen and (max-width: 700px){
  section > .frota > .cards {
    display: unset;
  }

  section > .frota .aircraft-description .modal{
    width: 500px;
  }

  section > .frota .aircraft-description .modal > .modal-aircraft-desc{
    flex-direction: column;
  }

  section > .frota .aircraft-title-modal{
    margin-top: 750px;
  }

  section > .frota .a330 .aircraft-title-modal{
    margin-top: 900px;
  }

  section > .frota .aircraft-description .modal .technical{
    margin: 30px 0;
  }

  section > .frota .aircraft-description .modal > img{
    width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  section > .frota .aircraft-title {
    font-size: 1.5em;
  }

  section > .frota .aircraft-description .modal{
    width: 400px;
  }

  section > .frota .aircraft-image > img,
  section > .frota .aircraft-description .modal > img{
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  section > .frota > .desc > h1 {
    font-size: 1.5em;
  }

  section > .frota .aircraft-description .modal{
    width: 300px;
  }

  section > .frota .aircraft-image > img,
  section > .frota .aircraft-description .modal > img{
    width: 200px;
  }

  section > .frota .aircraft-title-modal{
    margin-top: 1050px;
  }

  section > .frota .a330 .aircraft-title-modal{
    margin-top: 1400px;
    font-size: 1.7em;
  }

  section > .frota .aircraft-description .modal .back-btn{
    margin-bottom: 100px;
  }

  footer > .right-footer .social-media-title{
    text-align: center;
  }
}

@media only screen and (max-width: 320px){
  section > .frota .aircraft-description .modal{
    width: 270px;
    text-align: center;
  }

  section > .frota .aircraft-title-modal{
    margin-top: 1500px;
  }

  section > .frota .a330 .aircraft-title-modal{
    margin-top: 1700px;
  }
  
  section > .frota .aircraft-description .modal ul{
    text-align: left;
  }

  section > .frota .aircraft-description .modal .subtitle{
    text-align: center;
  }
}

@media only screen and (min-height: 2000px) {
  section {
    height: 100vh;
  }
}

@media only screen and (max-height: 950px){
  section > .frota .aircraft-description .modal{
    height: 600px;
  }
}

@media only screen and (max-height: 700px){
  section > .frota .aircraft-description .modal{
    height: 500px;
  }
}

@media only screen and (max-height: 650px){
  section > .frota .aircraft-title-modal{
    margin-top: 500px;
  }

  section > .frota .a330 .aircraft-title-modal{
    margin-top: 750px;
  }
}

@media only screen and (max-height: 500px){
  section > .frota .aircraft-description .modal{
    height: 350px;
  }
} 
