@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}

.has-error{
  border: 2px solid red !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: rgb(40 87 153);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: 80px;
}

header > .header {
  color: white;
  background-color: black;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .header > a > #logo-1 {
  width: 150px;
  height: 100px;
}

header > .header > nav > .open-menu,
.close-menu {
  display: none;
}

section {
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section > .contact-card {
  width: 1100px;
  height: 1000px;
  color: white;
  box-shadow: 0px 10px 40px #00000056;
  border-radius: 15px;
  padding: 16px;
  background: #052255;
  display: flex;
  flex-direction: column;
}

section > .contact-card > .contact-top {
  display: flex;
}

section > .contact-card > .contact-top > .logo-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section > .contact-card > .contact-top > .logo-image > #logo-2 {
  width: 250px;
}

section > .contact-card > .contact-top > .contact-text {
  width: 50%;
  text-align: center;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section > .contact-card > .contact-top > .contact-text > h1 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 2px;
}

section > .contact-card > .contact-top > .contact-text > p {
  font-size: 1.2em;
}

section > .contact-card > .text-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section > .contact-card > .text-fields .input{
  display: flex;
  flex-direction: column;
}

section > .contact-card > .text-fields label {
  align-self: flex-start;
}

section > .contact-card > .text-fields input,
select,
textarea {
  font-size: 1.2em;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  outline: none;
}

section > .contact-card > .text-fields input,
select{
  width: 400px;
  margin-right: 30px;
}

section > .contact-card > .text-fields #email,
section > .contact-card > .text-fields #subject{
  margin-right: unset;
}

section > .contact-card > .text-fields textarea {
  width: 830px;
  font-family: "Poppins", sans-serif;
  resize: none;
  min-height: 400px;
}

section > .contact-card > .text-fields button {
  color: white;
  background-color: rgb(40 87 153);
  border: none;
  outline: none;
  width: 50%;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.3em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

footer {
  color: white;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

footer > .left-footer {
  display: flex;
  flex: 1;
}

footer > .left-footer > .footer-nav {
  display: flex;
}

footer > .left-footer > .footer-nav > .about-us {
  text-align: center;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0 30px 0;
}

footer > .right-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

footer > .right-footer > nav {
  max-width: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > .right-footer .social-media-icons {
  color: white;
  background: none;
  outline: none;
  border: none;
}

nav {
  max-width: 50%;
  flex: 1;
  margin-right: 50px;
}

nav > ul {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

footer nav > ul > li {
  margin: 15px 15px 0 0;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}

nav > ul > li > a:hover {
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 1100px) {
  header > .header > nav {
    margin-right: 0;
    width: 60px;
    flex: initial;
  }

  header > .header > nav > ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: -80vw;
    height: 100vh;
    background-color: black;
    margin: 0;
    transition: right 0.2s linear;
  }

  header > .header > nav .open-menu {
    display: inline-block;
    outline: none;
    border: none;
    background: none;
    color: white;
  }

  header > .header > nav .close-menu {
    display: inline-block;
    background: none;
    outline: none;
    border: none;
    color: white;
    align-self: flex-start;
    margin-left: 20px;
  }

  .menu.open ul {
    right: 0;
  }

  .menu.open a {
    color: white;
    padding: 20px;
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: #ccc 1px solid;
  }

  section{
    height: 1400px;
  }

  section > .contact-card{
    width: 800px;
    height: 1200px;
  }

  section > .contact-card > .text-fields textarea{
    width: 400px;
  }

  section > .contact-card > .text-fields input{
    margin-right: unset;
  }

  footer > .left-footer .footer-nav,
  footer > .right-footer {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  section {
    height: 1600px;
  }

  section > .contact-card {
    width: 420px;
    height: 1400px;
  }

  section > .contact-card > .contact-top {
    flex-direction: column;
    align-items: center;
  }

  section > .contact-card > .text-fields input, select, 
  section > .contact-card > .text-fields textarea{
    width: 300px;
  }
}

@media only screen and (max-width: 500px) {
  section {
    height: 1800px;
  }

  section > .contact-card {
    width: 300px;
    height: 1550px;
  }

  section > .contact-card > .text-fields input,
  select,
  section > .contact-card > .text-fields textarea {
    width: 275px;
  }

  nav > ul {
    margin: 50px;
  }
}

@media only screen and (max-width: 350px) {
  section {
    height: 2000px;
  }

  section > .contact-card {
    width: 200px;
  }

  section > .contact-card > .text-fields input,
  select,
  section > .contact-card > .text-fields textarea {
    width: 175px;
  }

  section > .contact-card > .text-fields button {
    width: 120px;
  }
}

@media only screen and (min-height: 1600px) {
  section {
    height: 100vh;
  }
}
